@font-face {
  font-family: 'Sohne:Kräftig';
  src: url('../assets/fonts/soehne-kraftig.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sohne:Kräftig';
  src: url('../assets/fonts/soehne-kraftig-kursiv.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sohne:Halbfett';
  src: url('../assets/fonts/soehne-halbfett.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sohne:Halbfett';
  src: url('../assets/fonts/soehne-halbfett-kursiv.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Groww_Sans_Variable:Regular';
  src: url('../assets/fonts/GrowwSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Groww_Sans_Variable:Regular';
  src: url('../assets/fonts/GrowwSans-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Groww_Sans_Variable:Medium';
  src: url('../assets/fonts/GrowwSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Groww_Sans_Variable:Medium';
  src: url('../assets/fonts/GrowwSans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
